:root {
    --font-family-main: "Barlow Semi Condensed", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-quotes {
    display: none;
}

main {
    font-family: var(--font-family-main);
}