:root {
    --font-family-main: "Barlow Semi Condensed", "sans-serif";

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(18, 18, 18);
    --color-darkblue: rgb(25, 32, 45);
    --color-grey-100: rgb(231, 234, 238);
    --color-grey-200: rgb(207, 207, 207);
    --color-grey-400: rgb(103, 109, 126);
    --color-grey-500: rgb(72, 85, 106);
    --color-purple-50: rgb(237, 228, 255);
    --color-purple-300: rgb(167, 117, 241);
    --color-purple-500: rgb(115, 63, 200);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-quotes {
    display: none;
}

main {
    font-family: var(--font-family-main);
}