:root {
    --font-family-main: "Barlow Semi Condensed", "sans-serif";

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(18, 18, 18);
    --color-darkblue: rgb(25, 32, 45);
    --color-grey-100: rgb(231, 234, 238);
    --color-grey-200: rgb(207, 207, 207);
    --color-grey-400: rgb(103, 109, 126);
    --color-grey-500: rgb(72, 85, 106);
    --color-purple-50: rgb(237, 228, 255);
    --color-purple-300: rgb(167, 117, 241);
    --color-purple-500: rgb(115, 63, 200);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-quotes {
    display: none;
}

main {
    display: grid;
    gap: 2rem;
    margin: 2rem;
    margin-top: 5rem;
    font-family: var(--font-family-main);
    color: var(--color-white);
    font-weight: 500;
}

/* ARTICLE FONT AND BACKGROUND STYLING */
article:nth-child(1) {
    background-color: var(--color-purple-500);
}
article:nth-child(1) .testimonial-role,
article:nth-child(1) .testimonial-text {
    color: var(--color-purple-50);
}

article:nth-child(2) {
    background-color: var(--color-grey-500);
}
article:nth-child(2) .testimonial-role,
article:nth-child(2) .testimonial-text  {
    color: var(--color-grey-100);
}

article:nth-child(3),
article:nth-child(5) {
    background-color: var(--color-white);
    color: var(--color-grey-500);
}
article:nth-child(3) .testimonial-role,
article:nth-child(3) .testimonial-text,
article:nth-child(5) .testimonial-role,
article:nth-child(5) .testimonial-text {
    color: var(--color-grey-400);
}

article:nth-child(4) {
    background-color: var(--color-darkblue);
}
article:nth-child(4) .testimonial-heading {
    color: var(--color-grey-200);
}
article:nth-child(4) .testimonial-text {
    color: var(--color-grey-100);
}

.testimonial-name {
    font-size: 0.8rem;
    line-height: 110%;
}

.testimonial-role {
    font-size: 0.7rem;
}

.testimonial-heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
}

.testimonial-text {
    font-size: 0.8rem;
}